<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to mTracker! Sign in to manage your project!</h1>

    {% endif %}
    <h2>Login</h2>
    <form action ='/login' method ="post">
        {% csrf_token %}
        <p>
            Email:
            <input type="text" name="email" id="">
        </p>
        <p>
            Password:
            <input type="password" name="password" id="">
        </p>
        <button type="submit">Log in</button>
    </form>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Error: {% endif %}
            {{ message }}
        </li>
        {% endfor %}
    </ul>
    <a href="/register">Register an account</a>

</body>
</html>