<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    font-family: 'Roboto', sans-serif;
}
</style>
<body>
    <h1>{{one_user.first_name}}'s Profile</h1>
    <a id="logout" href="logout">Logout</a> 
    <div class ="displays">
        <P> ID: {{one_user.id}}</P>
        <BR>
            <P> Name: {{one_user.first_name}} {{one_user.last_name}}</P>
            <P> Email: {{one_user.email}}</P></p>
            <BR>
            </div>            
            <a id="chat" href='/user/{{one_user.id}}/chat'>Send {{one_user.first_name}} a message</a>
            <br><br>
            <a id="edit" href='/user/{{one_user.id}}/edit'>Edit User</a>
            <a id="back" href="/dashboard">Back to dashboard</a>

</body>
</html>